{{ define "main" }}
  {{ partial "components/page-header" . }}


  <!-- terminal info -->
  {{ with .Params.terminal_info }}
    <section class="section has-backdrop pt-0">
     
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-lg-10 text-center">
            <p class="section-subtitle text-secondary">
              {{ .subtitle | markdownify }}
            </p>
            <h2 class="section-title text-center">
              {{ .title | markdownify }}
            </h2>
          </div>
        </div>
        <div class="row">
          {{ range $i, $e := .images }}
            <div class="col-lg-12 col-12">
              <div class="{{ if not (modBool $i 2) }}pt-4 mt-2{{ end }}">
                {{ partial "image" (dict "Src" . "Alt" "about image" "Class" "shadow-lg rounded-4 w-100") }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>

      <svg
        class="backdrop text-tertiary"
        style="top:0;right:0"
        width="490"
        height="670"
        viewBox="0 0 490 670"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          opacity="0.25"
          d="M427.667 1.51615e-05C612.866 7.06621e-06 763 149.985 763 335C763 520.015 612.866 670 427.667 670C343.258 670 246.953 638.844 167.13 587.416C71.8151 526.006 -1.0242e-05 435.691 -1.46433e-05 335C-1.89705e-05 236.006 167.749 261.462 260.667 200.134C341.407 146.844 341.56 1.89254e-05 427.667 1.51615e-05Z"
          fill="currentColor"></path>
      </svg>
    </section>
  {{ end }}
  <!-- end terminal_info -->

  <!-- brands -->
  {{ with .Params.terminal_brands }}
    <section class="section pt-0">
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-lg-10 text-center">
            <p class="section-subtitle text-secondary">
              {{ .subtitle | markdownify }}
            </p>
            <h2 class="section-title text-center">
              {{ .title | markdownify }}
            </h2>
          </div>
        </div>
        <div class="row gy-4 justify-content-center align-items-center">
          {{ range .images }}
            <div class="col-lg-2 col-md-3 col-sm-3 col-4 text-center">
              {{ partial "image" (dict "Src" . "Alt" "about image" ) }}
            </div>
          {{ end }}
           
        </div>
      </div>
    </section>
  {{ end }}
  <!-- end brands -->

  <!-- about_info -->
  {{ with .Params.nada_info }}
    {{ if .enable }}
      <section class="about-info has-backdrop">
        <div class="section container">
          <div
            class="row gx-0 gx-lg-5 gy-5 align-items-xl-center justify-content-center">
            
            {{ range .EFTPOS_lists }}
            <div class="col-lg-4">
              <div class="about-info-image rounded-5 d-inline-block">
                {{ partial "image" (dict "Src" .image  "Alt" "about image" "Class" "shadow-lg rounded-5 w-100") }}
              </div>
              <p class="fw-bold text-dark mb-1 mt-3">
                  {{ .subtitle | markdownify }}
                </p>
                <div class="content">
                  {{ .content | markdownify }}
                </div>
                {{ range $i, $e := .buttons }}
                    <a
                      class="btn mt-2 {{ if eq $i 0 }}
                        btn-primary
                      {{ else }}
                        btn-outline-white
                      {{ end }}"
                      href="{{ .link | safeHTML }}">
                      {{ .label | markdownify }}
                    </a>
                  {{ end }}
            </div>
          {{ end }}
            <div class="col-lg-4">
              <div class="ps-0 ps-xl-4">
                <p class="section-subtitle text-tertiary">
                  {{ .subtitle | markdownify }}
                </p>
                <h2 class="section-title">{{ .title | markdownify }}</h2>
                <div class="content">
                  {{ .content | markdownify }}
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <svg
          class="backdrop text-primary"
          width="552"
          height="524"
          viewBox="0 0 552 524"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            opacity="0.25"
            d="M173.596 -232C382.583 -232 552 -62.7637 552 146C552 354.764 382.583 524 173.596 524C78.3462 524 -30.328 488.845 -120.404 430.815C-227.961 361.523 -309 259.615 -309 146C-309 34.2989 -119.705 63.0226 -14.8532 -6.17695C76.2577 -66.3078 76.4301 -232 173.596 -232Z"
            fill="currentColor" />
        </svg>
      </section>
    {{ end }}
  {{ end }}
  <!-- end about_info -->
<!-- how it works -->
  {{ with .Params.how_it_works }}
    <section class="how-it-works has-backdrop has-overlay">
      <div class="section container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="section-subtitle text-secondary">
              {{ .subtitle | markdownify }}
            </p>
            <h2 class="section-title text-center">
              {{ .title | markdownify }}
            </h2>
          </div>
        </div>

        {{ range $i, $e := .feature_lists }}
          <div
            class="row g-0 bg-light rounded-5 align-items-end {{ if ne $i 0 }}
              mt-5
            {{ end }}">
            <div
              class="col-lg-6 {{ if modBool $i 2 }}
                order-0 order-lg-1 image-right
              {{ end }}">
              <div class="image-block">
                {{ partial "image" (dict "Src" .image "Alt" "how it works image" "Resize" false "Class" "w-100") }}
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-0">
              <div class="content-block">
                <h3>{{ .title | markdownify }}</h3>
                <div class="mb-4">{{ .content | markdownify }}</div>

                <ul class="list-item">
{{ range .list }}
                  
                    <li>{{ .detail }}</li>
                  
                {{end}}
                </ul>
                
                {{ range $i, $e := .buttons }}
                  <a
                    class="btn me-2 {{ if eq $i 0 }}
                      btn-primary
                    {{ else }}
                      btn-outline-primary
                    {{ end }}"
                    href="{{ .link }}">
                    {{ .label | markdownify }}
                  </a>
                {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      </div>

      <svg
        class="backdrop text-tertiary"
        width="676"
        height="1416"
        viewBox="0 0 676 1416"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.25" filter="url(#filter0_f_32_368)">
          <path
            d="M-32.3076 420C126.92 420 256 548.942 256 708C256 867.058 126.92 996 -32.3075 996C-104.879 996 -187.678 969.215 -256.307 925.002C-338.256 872.208 -400 794.564 -400 708C-400 622.894 -255.775 644.779 -175.888 592.056C-106.47 546.242 -106.339 420 -32.3076 420Z"
            fill="currentColor" />
        </g>
        <defs>
          <filter
            id="filter0_f_32_368"
            x="-820"
            y="0"
            width="1496"
            height="1416"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape" />
            <feGaussianBlur
              stdDeviation="210"
              result="effect1_foregroundBlur_32_368" />
          </filter>
        </defs>
      </svg>
    </section>
  {{ end }}
  <!-- end how it works -->
  <!-- our_values -->
  {{ with .Params.our_values }}
    {{ if .enable }}
      <section class="section our-values overflow-hidden">
        <div class="container">
          <div class="row gx-4 gx-lg-5 flex-nowrap mb-3 align-items-center">
            <div class="col-lg-5">
              <p class="section-subtitle text-secondary">
                {{ .subtitle | markdownify }}
              </p>
              <h2 class="section-title">{{ .title | markdownify }}</h2>
            </div>
            <div class="col-lg-9">
              <div class="swiper our_values_swiper">
                <div class="swiper-wrapper">
                  {{ range .value_lists }}
                    <div class="swiper-slide">
                      <div class="block bg-white rounded-4 p-4">
                        <div class="icon mb-3">
                          <i class="text-primary {{ with .icon }}{{ . }}{{ end }}"></i>
                        </div>
                        <p class="text-capitalize fw-bold text-dark mb-2">
                          {{ .title | markdownify }}
                        </p>
                        <p class="mb-0 small">{{ .content | markdownify }}</p>
                      </div>
                    </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
  <!-- end our_values -->

  <!-- team -->
{{ with .Params.team }}
  {{ if .enable }}
    <section class="section pb-4">
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-lg-10 text-center">
            <p class="section-subtitle text-quaternary">
              {{ .subtitle | markdownify }}
            </p>
            <h2 class="section-title text-center">
              {{ .title | markdownify }}
            </h2>
          </div>
        </div>
        <div class="row gy-4">
          <div class="col-xl-3 col-lg-4">
            <ul class="nav nav-pills team-filter" id="teamTab" role="tablist">
              {{ range $i, $item := .team_lists }}
                <li class="nav-item w-100" role="presentation">
                  <button
                    class="nav-link text-start {{ if eq $i 0 }}active{{ end }}"
                    data-bs-toggle="tab"
                    data-bs-target="#team-{{ $item.title | urlize | sha1 }}-tab"
                    type="button"
                    role="tab"
                    aria-selected="{{ if eq $i 0 }}true{{ else }}false{{ end }}">
                    <i class="{{ with $item.icon }}{{ . }}{{ end }} me-2"></i>
                    {{ $item.title | markdownify }}
                  </button>
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="col-xl-9 col-lg-8">
            <!-- Tab panes -->
            <div class="tab-content p-0 border-0">
              {{ range $i, $item := .team_lists }}
                <div
                  class="tab-pane fade {{ if eq $i 0 }}show active{{ end }}"
                  id="team-{{ $item.title | urlize | sha1 }}-tab"
                  role="tabpanel"
                  aria-labelledby="{{ $item.title | urlize | sha1 }}-tab">
                  <div class="row">
                    {{ range $item.team_members }}
                      <div class="col-xl-12 team-item">
                        <div class="block bg-white p-4 rounded-4">
                          <div class="text-center">
                            {{ partial "image" (dict "Src" .image "Alt" "about image" "Class" "mt-2 mb-4") }}
                          </div>
                          <p class="fw-bold text-dark mb-1">
                            {{ .name | markdownify }}
                          </p>
                          <p class="small mb-0">
                            {{ .designation | markdownify }}
                          </p>
                        </div>
                      </div>
                    {{ end }}
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
<!-- end team -->


 <!-- hospitality -->
{{ with .Params.hospitality }}
  {{ if .enable }}
    <section class="section pb-4">
      <div class="container">
        <div class="row justify-content-center mb-3">
          <div class="col-lg-10 text-center">
            <p class="section-subtitle text-quaternary">
              {{ .subtitle | markdownify }}
            </p>
            <h2 class="section-title text-center">
              {{ .title | markdownify }}
            </h2>
          </div>
        </div>
        <div class="row gy-4">
          <div class="col-xl-9 col-lg-8">
            <!-- Tab panes -->
            <div class="tab-content p-0 border-0">
              {{ range $i, $item := .hospitality_lists }}
                <div
                  class="tab-pane fade {{ if eq $i 0 }}show active{{ end }}"
                  id="hospitality-{{ $item.title | urlize | sha1 }}-tab"
                  role="tabpanel"
                  aria-labelledby="{{ $item.title | urlize | sha1 }}-tab">
                  <div class="row">
                    {{ range $item.hospitality_members }}
                      <div class="col-xl-12 team-item">
                        <div class="block bg-white p-4 rounded-4">
                          <div class="text-center">
                            {{ partial "image" (dict "Src" .image "Alt" "about image" "Class" "mt-2 mb-4") }}
                          </div>
                          <p class="fw-bold text-dark mb-1">
                            {{ .name | markdownify }}
                          </p>
                          <p class="small mb-0">
                            {{ .designation | markdownify }}
                          </p>
                        </div>
                      </div>
                    {{ end }}
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
          <div class="col-xl-3 col-lg-4">
            <ul class="nav nav-pills team-filter" id="hospitalityTab" role="tablist">
              {{ range $i, $item := .hospitality_lists }}
                <li class="nav-item w-100" role="presentation">
                  <button
                    class="nav-link text-start {{ if eq $i 0 }}active{{ end }}"
                    data-bs-toggle="tab"
                    data-bs-target="#hospitality-{{ $item.title | urlize | sha1 }}-tab"
                    type="button"
                    role="tab"
                    aria-selected="{{ if eq $i 0 }}true{{ else }}false{{ end }}">
                    <i class="{{ with $item.icon }}{{ . }}{{ end }} me-2"></i>
                    {{ $item.title | markdownify }}
                  </button>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
<!-- end hospitality -->

  <!-- how it testimonials -->
  {{ partial "components/testimonial" . }}
  <!-- end testimonials -->

  {{ partial "components/cta" }}
  
    <!-- FAQ Shortcode -->
    

{{ with .Params.faq }}
<section class="faq-section">
  <div class="container">
    <h2>{{ .title }}</h2>
    <p class="subtitle">{{ .subtitle }}</p>

    <div class="faq">
      {{ range $i, $item := .list }}
        <details class="faq__item" {{ if eq $i 0 }}open{{ end }}>
          <summary class="faq__question">
            <span>{{ $item.title }}</span>
            <span class="faq__icon" aria-hidden="true"></span>
          </summary>
          <div class="faq__answer">
            {{ $item.content | markdownify }}
          </div>
        </details>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

{{ end }}
