<!-- Bootstrap Bundle JS (CDN) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" defer></script>

<!-- Swiper JS (CDN) - WITHOUT defer so it loads first -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>

<!-- WebFont Loader -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

<!-- Custom Script - WITH defer so Swiper loads first -->
{{ $script := resources.Get "js/script.js" }}
{{ if $script }}
  <script defer type="text/javascript">{{ $script.Content | safeJS }}</script>
{{ end }}